.CTA {
  padding: 4rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 35rem;
}

.CTA__content {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 0 3rem;

  background-color: black;
  color: white;

  clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);

  grid-column: 1 / span 5;
  grid-row: 1/-1;

  display: grid;
  align-content: center;
  gap: 1.5rem;
}

.CTA__content--title {
  line-height: 1.1;
}
.CTA__content--title span {
  display: block;
  font-weight: 100;
}

.CTA__content--para span {
  display: block;
}
.CTA__content--link {
  background-color: green;
  color: white;
  padding: 0.5rem 2rem;
  justify-self: start;
}

.CTA__image {
  grid-column: 5/-1;
  grid-row: 1/-1;

  /* z-index: -1; */
}

.CTA__image img {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
